{% extends 'base.html' %}
{% block title %}
  Contact Page
{% endblock %}

{% block content %}
  <div class="form_container">
    <div class="form_contact">
      <h1 class="header_one headers">CONTACT US</h1>
      <h3 class="header_two headers"><svg style="height: 5%; width: 5%;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg>Call Us</h3>
        <p class="headers_paragraf">(+40)741.318.163,   (+40)740.915.025</p>
      <h3 class="header_two headers">Location</h3>
        <p class="headers_paragraf">Piata Vasile Milea, Pitesti, Nr.32</p>
      <h3 class="header_two headers">Business Hours</h3>
        <p class="headers_paragraf">Luni-Vineri 9:00AM - 6:00PM, Sam - Dum .... Inchis</p>
    </div>
    <div class="form_mail">
      <input type="email" class="inputs" id="input_email" placeholder="Enter a valid email address">
      <input type="text" class="inputs" id="input_name" placeholder="Enter your Name">
      <input type="text" class="inputs" id="input_address" placeholder="Enter your address">
      <input type="text" class="inputs" id="input_message" placeholder="Enter your message">
      <input type="submit" id="input_submit" name="SUBMIT">
    </div>
  </div>
{% endblock %}



